<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelloWorld</display-name>
  <!-- 这里开始添加servlet的配置 -->
  <servlet>
      <servlet-name>ChatRobot</servlet-name>
      <servlet-class>com.hqkang.ChatRobot.Servlet.CoreServlet</servlet-class>
      <init-param>
      <param-name>user</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>passwd</param-name>
      <param-value></param-value>
    </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>ChatRobot</servlet-name>
      <url-pattern>/index.jsp</url-pattern>
   </servlet-mapping>
   <!-- 结束servlet的配置 -->
   
    <!--web的默认启动页-->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>